.programming-language__sample {
  --rs-color-primary-light-theme: #167dff;
  --rs-color-primary-dim-light-theme: rgba(22, 125, 255, 0.8);
  --rs-color-primary-fog-light-theme: #d3e6ff;
  --rs-color-primary-t-fog-light-theme: rgba(22, 125, 255, 0.2);

  [data-test~="tab-selected"] {
    color: var(--rs-color-primary-light-theme);
  }
}

.programming-language__code {
  margin-top: 16px;
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 0 0 8px 8px;
  overflow-x: auto;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  line-height: 24px;

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0;
    background: transparent;
  }

  .hljs-deletion {
    background: #fdd;
  }

  .hljs-addition {
    background: #dfd;
  }
}
